# Binaries for programs and libraries
*.dll
*.exe
*.pdb

# Output of `dotnet build`
**/bin/
**/obj/

# Project files
project.lock.json
project.fragment.lock.json

# NuGet Packages
*.nupkg
**/packages/*

# Application settings (contains sensitive information)
Jobs.EasyApply/appsettings.json

# PowerShell script with credentials
SetLinkedInCreds.ps1
